<!doctype html>
<html>
<head>
   <title>Login</title>
   <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
 </head>
 <body>
   <div class="form-container">
     <h2>Login</h2>
     <%= msg %>
     <form method="POST" action="/login">
       <label>Username:</label><br>
         <input type="text" name="username"><br>
       <label>Password:</label><br>
         <input type="password" name="password"><br>
       <input type="submit" value="Login">
       <a href="/signup">Sign up &raquo;</a>
     </form>
   </div>

 </body>
 </html>
