<!doctype html>
<html>
<head>
   <title>Signup</title>
   <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
 </head>
 <body>
   <div class="form-container">
     <h2>Sign Up</h2>
     <%= msg %>
     <form method="POST" action="/signup">
       <label>Username:</label><br>
         <input type="text" name="username"><br>
       <label>Password:</label><br>
         <input type="password" name="password"><br>
       <label>Email:</label><br>
         <input type="email" name="email"><br>
       <input type="submit" value="Register">
       <a href="/">&laquo; Back to Homepage</a>
     </form>
   </div>

 </body>
 </html>
